page-about {
    
    background-color: rgb(247, 247,247);
    
    .b1{
        text-align: center; 
        font-size: 18px;
        
    }
    .b2{
        height: 120px;   
        background-color: white;   
        padding-left: 15px;
        padding-right: 15px;
        p{ padding-top: 10px; 
            font-size: 17px
        }
    }
    .list{
        margin-top: 10px;
        margin-bottom:150px;
    }

}
