page-tongzhi {
    ion-title{
        margin-left: 90px;
    }
    h2{
        text-align: center;
        font-weight: bold;
    }
    img{
        width: 100%;
    }
    p{
        font-size: 1em;
        text-indent: 2em;
    }
}
