page-home {
  background-color: bisque !important;

  ion-header {
    height: 50px;
    line-height: 50px;

    .rightFloat {
      float: right;
    }

    .temp {
      font-size: 15px;
    }

    .city {
      font-size: 20px;
    }

    .floatleft {
      font-size: 25px;
      float: left;
    }
  }

  .main{
    height: 450px;
    border: 1px solid darkgray;
  }

  ion-card-content{
    text-align: left;
    h1{
      text-indent: 0.5em;
    }
    p{
      margin-top: 10px!important;
      text-indent: 2em;
    }
    .col{
        ion-col{
            padding: 0;
            margin: 0;
        }
        ion-label{
            margin: 0;
        }
        ion-item{
            padding: 0;
        }
        .num{
            float: left;
            position: relative;
            top:1em;
        }
    }
  }

}
