page-home {
  background-color: bisque !important;

  ion-header {
    height: 50px;
    line-height: 50px;
    
    .rightFloat {
      float: right;
    }

    .temp {
      
      font-size: 14px;
    }

    .city {
      font-size: 17px;
    }

    .floatleft {
      font-size: 17px;
      float: left;
    }
  }

  .main{
    height: 30em!important;
    border: 1px solid darkgray;
  }
  .img{
    height: 50%;
  }
  ion-card-content{
    text-align: left;
    height: 100%;
    position: relative;
    h1{
      text-indent: 0.5em;
    }
    p{
      margin-top: 10px!important;
      text-indent: 2em;
    }
    .bottom{
      width: 100%;
    }
    .col{
        ion-col{
            padding: 0;
            margin: 0;
        }
        ion-label{
            margin: 0;
        }
        ion-item{
            padding: 0;
        }
        .num{
            float: left;
            position: relative;
            top:1em;
        }
    }
  }

}
