page-help {
    .right{
        float: right;
        font-size: 14px;
        color: gray;
        margin-top: 5px;
    }
    .a1{
        background-color:white;
        text-align: left;
        color:black;
        padding: 5px 5px;
    }
}
