page-info {
  .segment-md .segment-button.segment-activated{
    border-color: black;
  }
  .segment-md .segment-button{
    color: black;
  }
    .header{
        text-align: center;
        color: wheat!important;
        }

    .top{
        width:100%;
        padding:0!important;
        font-size: 16px;
        // height:60px;
        // margin:-16px 0 0 -16px;
    }
    #bottom{
      margin-top: 10px;
      border-top: 1px solid darkgray;
    }
    .item-md{
      margin: 0;
      padding: 0;
    }
    ion-list{
      padding: 0;
    }
    .time{
        float: right;
        margin-top:-20px;
        margin-right:10px;
    }
    ion-content{
      ion-card {
          position: relative;
          text-align: center;
          border-radius: 3px;
          ion-item{
              text-align: center;
          }
      }
      .title {
        height:1.5em;
        width: 100%;
        font-size:1.3em;
        font-weight: bold;
        color: rgb(41, 23, 23);
        text-align: left;
        overflow: hidden;
        margin-top: 8px;
        margin-left: 8px;
    }
      .left{
          width: 45%;
          height: 100%;
          float: left;
          padding: 3px;
          overflow: hidden;
          img{
              height: 150px;
              width: 150px;
          }
      }
      .right{
          float: right;
          width:55%;
          text-align:left;
          padding: 5px;
          .card-inner{
              padding-top: 15%;
              max-height:100%;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
            -webkit-line-clamp: 4; 
            -webkit-box-orient: vertical;
          }
      }
      
  }
}
