page-info {
    .header{
        text-align: center;
        }

    .top{
        width:100%;
        padding:0!important;
        font-size: 16px;
        // height:60px;
        // margin:-16px 0 0 -16px;
    }
    .time{
        float: right;
        margin-top:-20px;
        margin-right:10px;
    }
}
