page-settings {
    ion-content{
         background-image: url('../../assets/imgs/timg (13).jpg');
         background-size: cover;
    }
    .header{
        height: 50px;      
        padding-top:3%;
        color: white;
        font-size:1.2em;
        p{
        display: inline;
        margin-left: 29%;                
        }
    }  
    .main{
        text-align: center;
        ion-item{
            span{
                color: white;
            }         
            background: transparent;
            margin: 0 auto;
            width: 80%;
            // background-color: rgb(247,247,247);
        }
        ion-input{
            color: white
        }
    }
    .head{
        display: flex;
        width: 120px;
        height: 120px;
        margin-top: 1.5em;
        margin: 3em auto;
        margin-bottom: 1.5em;
        border-radius: 50%;
        border: 1px solid rgb(133, 132, 132);
        align-items: center;
        justify-content: center
    }
    .login{
        font-size: 17px;
        width: 75%;
        margin: 0 auto;
        margin-top: 25%;
        border: 1px solid rgb(133, 132, 132);
        background-color:rgb(14,41,60);
        color: white;
    }
}
