<!--
  Generated template for the EssayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header no-border >
    <ion-navbar>
      <ion-title>随笔</ion-title>
    </ion-navbar>
  </ion-header> 
  <!-- <ion-header no-border  class="header">
      <i class="iconfont icon-zuojiantou1" (click)="goSight()"></i>
      <p>随笔</p>
  </ion-header> -->
  <ion-content>
    <!-- <div id="header">
      <button clear no-boder (click)="goSight()" style="font-size:22px;padding-top:0.5em;">
        <ion-icon name="arrow-back" style="float:left"></ion-icon>
      </button>
    <span>随笔</span>
    </div> -->
    <!-- <div id="content"> -->
      <!-- <ion-card *ngFor = "let assey of asseys" (click)='goEssaymore()'>
          <ion-card-content>
              <ion-card-title>{{ assey.title }}</ion-card-title>
              <p class="inner">{{ assey.inner }}</p>
          </ion-card-content>
            <ion-row>
              <ion-col col-2>
                  <div id="img">
                      <img src="{{ assey.iconSrc }}">
                  </div>
              </ion-col>
              <ion-col >
                <div id="comments">
                  <button ion-button icon-start clear small>
                      <ion-icon name="text"></ion-icon>
                      <div>{{ assey.comments }}</div>
                  </button>
                </div>
              </ion-col>
              <ion-col >
                <div id="likes">
                  <button ion-button icon-start clear small>
                      <ion-icon name="heart-outline"></ion-icon>
                      <div>{{ assey.likes }}</div>
                  </button>
                </div>
              </ion-col>
            </ion-row>
      </ion-card>
    </div> -->
  <!-- <ion-card *ngFor = "let assey of asseys" (click)='goEssaymore()'>
    <ion-card-content>
      <ion-card-title>{{ assey.title }}</ion-card-title>
      <p class="inner">{{ assey.inner }}</p>
    </ion-card-content>
    <ion-row >
      <ion-col col-6>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ assey.iconSrc }}">
          </ion-avatar>
          <h2 style="text-align: left;">{{ assey.name }}</h2>
          <p style="text-align: left">{{ assey.talk }}</p>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{ assey.comments }}</div>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-start clear small>
            <ion-icon name="heart-outline"></ion-icon>
            <div>{{ assey.likes }}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card> -->
    <div class="main clearfix" class="main" >
      <div class="box" *ngFor="let assey of asseys1">
        <div class="pic" (click)="goEssaymore()" no-boder ><img src="{{assey.bgSrc}}"></div>             
        <div class="tx" >
          <p (click)="goEssaymore()" >{{assey.title}}</p>
          <img src="{{assey.iconSrc}}"(click)="goPerson()" >
          <!-- <ion-icon name="text" clear></ion-icon> -->
          <button id="comments" style="font-size:18px;" >
            <ion-icon name="text" color="primary"></ion-icon>
          </button>
          <i class="iconfont icon-xihuan" style="font-size:1.5em;color: red; float:right"></i>
        </div>
      </div>      
      <div class="box" *ngFor="let assey of asseys4">
        <div class="pic" (click)="goEssaymore()"><img src="{{assey.bgSrc}}"></div>
        <div class="tx">
            <p (click)="goEssaymore()">{{assey.title}}</p>
            <img src="{{assey.iconSrc}}" (click)="goPerson()">
            <button id="comments" style="font-size:18px;">
                <ion-icon name="text" color="primary"></ion-icon>
            </button>
            <i class="iconfont icon-xihuan" style="font-size:1.5em;color: red; float:right"></i>
          </div>
      </div>
      
      <div class="box" *ngFor="let assey of asseys2" >
        <div class="pic" (click)="goEssaymore()"><img src="{{assey.bgSrc}}"></div>
        <div class="tx">
            <p (click)="goEssaymore()">{{assey.title}}</p>
            <img src="{{assey.iconSrc}}" (click)="goPerson()">
            <button id="comments" style="font-size:18px;">
                <ion-icon name="text" color="primary"></ion-icon>
            </button>
            <!-- <button id="likes"> -->
              <i class="iconfont icon-xihuan" style="font-size:1.5em;color: red; float:right"></i>
            <!-- </button> -->
          </div>
      </div>      
      <div class="box" *ngFor="let assey of asseys3" >
        <div class="pic" (click)="goEssaymore()"><img src="{{assey.bgSrc}}"></div>
        <div class="tx">
            <p (click)="goEssaymore()">{{assey.inner}} </p>
            <img src="{{assey.iconSrc}}" (click)="goPerson()">
            <button id="comments" style="font-size:18px;">
                <ion-icon name="text" color="primary"></ion-icon>
            </button>
            <i class="iconfont icon-xihuan" style="font-size:1.5em;color: red; float:right"></i>
        </div>
      </div>
    </div>
  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- 上拉加载 -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="10%">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
