page-welcome {
      // .bg{
      //   background-image: url(../../assets/imgs/w1.png) ;
      //   background-size: 100% 100%;
      // }
      //   .bg1{
      //       position: absolute;
      //       display:block;
      //       bottom: 20%;
      //       left:40%;
                
                
      //   }
      //    button{
      //        opacity: 1;
      //        width: 100px;
      //        height: 30px;
      //        font-size: 20px;
      //        font-weight: bold;
      //    }
    ion-slide {
      background-color: #eeeeee;
  }
   
  ion-slide img{
      height: 100%;
      width: 100%
  }
  .img{
    position:relative;
  }
  .but{
    position:absolute;
    top:90%;
    left: 40%;
    height:3em;
  }
  
     }
