page-movie {
    ion-title{
        padding-left: 4.5em;
        margin: 0;
        // text-align: center;
    //     i{
    //         font-size: 2em;
    //     }
    }
    // .col{
    //     padding: 0;
    // }
    // .card-content{
    //     padding: 0;
    // }
    h3{
        text-align: center;
        margin: 0;
    }
    p{
        text-indent: 2em;
        text-align: left;
        max-height:100%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
	    -webkit-line-clamp: 4; 
	    -webkit-box-orient: vertical;
    }
    .slide-zoom{
        position: absolute;
        top:2em;
    }
    ion-row{
        margin: 0;
    }
    ion-card{
        border-color: 1px solid pink;
        ion-card-content{
            text-align: left;
        }
        #xiaoxi{
            font-size:2.1em;
            color: #0066CC;
            float:left;
        }
        .num{
            float: left;
            position: relative;
            top: 1em;
        }
        .like{
            font-size: 2.5em;
        }
        .love{
            color: red;
        }
    }
    .item{
        padding: 0;
    }
    vg-player{
        height:15em;
        width: 100%;
        overflow: hidden;
        video{
            height: 100%;
            width: 100%;
        }
    }
}
