page-movie {
    ion-title{
        padding-left: 4.5em;
        margin: 0;
        // text-align: center;
    //     i{
    //         font-size: 2em;
    //     }
    }
    // .col{
    //     padding: 0;
    // }
    // .card-content{
    //     padding: 0;
    // }
    ion-card{
        height: 35em!important;
        border-color: 1px solid pink;
    }
    .item{
        padding: 0;
    }
    vg-player{
        height:30em;
        overflow: hidden;
        video{
            height: 100%;
            width: 100%;
        }
    }
}
