page-travel {
    ion-navbar{
        text-align: center;
        ion-title {
            background-color: rgb(247,247,247);
            padding-left: 54px;
          }
        }
    .sli{
        height:auto;
        img{
            width: 100%;
            height: 11em;
        }
    }
    h3{
        text-align: center;
    }
    .title{
        max-width: 12em;
        overflow: hidden;
        white-space: nowrap;
        margin: 0;  
    }
    .card{
        border: 1px solid gray;
        img{
            height: 7em;
            width: 100%;
        }
    }
}
