page-signup {
    .main{
        text-align: center;
        ion-item{
            margin: 0 auto;
            width: 80%;
            background-color: rgb(247,247,247);
            ion-icon{
                color: #8E8E8E;
            }
        }
    }
<<<<<<< HEAD
    .head{
        display: flex;
        width: 120px;
        height: 120px;
        margin: 3em auto;
        border-radius: 50%;
        border: 1px solid #bbbbbb;
        align-items: center;
        justify-content: center
    }
    .login{
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        border: 1px solid darkgray;
        background-color:rgb(247,247,247);
        color: gray;
    }
=======
>>>>>>> 37a16ca013b93e76c0f55e1d549b56efa811bb1a
}
