page-share {
    ion-title{
        text-align: center
    }
    ion-segment-button{
        color:black !important;
        font-size: 1.1em !important;
    }
    .name{
        text-align: center;
    }
    video{
        width: 100%;
    }
    .card-content{
        padding: 0;
    }
    .col{
        line-height: 2.5em;
    }

}
