page-fabu {
    .big{
        height: 18em;
        width: 100%;
        background-image:url("../assets/imgs/fbbg.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;  
    }
    .small{
        width: 11em;
        height: 7em;
        background-color: gainsboro;
        text-align: center;
        align-self:center;
        position: absolute;
        top: 8%;
    }
    textarea{
        background-color:rgb(247,247,247);
        border:none;
    }
    .bf{
        width: 3.3em;
        border-radius: 50% 50%;
    }
    .div1{
        width: 100%;
        display: flex;
        flex-direction: column;  
    }
    .d1{
        float: left; 
        text-align: center;
 
    }
    .d2{
        float: left;
        text-align: center;
        margin-left: 3em;
    }
    .div2{
        align-self: center;
    }
}
