page-neirong {
  //

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2.5em;
    margin: 0;
  }
  h2{
    text-align: center;
  }
  b{
    margin-left: 120px;
  }
  .essay{
    background-image: url(../../assets/imgs/bg.jpg);
    height: 100%;
    width: 600;
    overflow: auto;
    word-wrap:break-word;
    text-indent: 2em;
    text-align: center;
  }
  .date {
    float: right;
    margin: 0;
  }
  b{
    font-size: 1.2em;
  }

  .div {
    border-bottom: 1px solid gray;
    p {
      text-align: left;
      text-indent: 2em;
      font-size: 16px;
    }
    .img {
      margin-top: 55px;
      height: 15em;
      width: 100%;
    }
  }
  .row {
    margin: 0;
    width: 100%;
  }

  .left {
    overflow: hidden;
    // display: flex;
  }
  .username {
    margin-left: 1em;
    float: left;
    max-width: 4em;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1em;
  }

  .tx {
    margin-left: -130px;
    // float: left;
    width: 45px;
    height: 45px;
    border-radius: 50% 50%;
    overflow: hidden;
  }
  .likes {
    line-height: 5em;
    span{
      font-size: 1.2em;
    }
  }
  .lik{
    align-self: auto;
  }
  #star {
    font-size: 2.2em;
  }
  .collected {
    color: red;
  }
  .like {
    font-size: 1.8em;
    padding-right: 0;
  }
  .liked {
    color: red !important;
  }
  #follow {
    margin-left: 10px;
    float: right;
    display: block;
    width: 6em;
    height: 1.6em;
    
    background: rgb(247, 247, 247);
    border: 1px solid #0099FF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    color: #0099FF;
  }
  // #follow:hover {
  //   background: rgba(233, 7, 7, 0.2);
  // }
  #true {
    display: inline;
  }
  #false {
    display: none;
  }
  btn-return {
    float: left;
  }
  textarea {
    width: 90%;
    border: none;
    float: left;
    background-color: rgb(247, 247, 247);
  }
  .icon-fabu:before {
    font-size: 1.7em;
    color: red;
    float: left;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .box {
    width: 100%;
    height: 7em;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px darkgray solid;
    .touxiang {
      width: 3em;
      height: 3em;
      background-image: url("../../assets/imgs/10.jpg");
      background-size: cover;
      margin: 0;
      border-radius: 50% 50%;
      float: left;
    }
    .nicheng {
      width: 10em;
      height: 3em;
      font-size: 16px;
      float: left;
      color: gray;
    }
    .pinglun {
      width: 100%;
      height: auto;
      text-align: center;
      float: left;
      // position: relative;
      // bottom: 1em;
    }
    .shijian {
      float: right;
      color: gray;
    }
    .clean {
      color: red;
    }
  }
  .comment{
    .icon{
      width: 100%;
      height: 60px;
      line-height: 60px;
      span{
        font-size: 1.2em;
        position: relative;
        bottom: 20px;
      }
    }
    img{
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
    }
  }
  .comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
  }
  .comment-wrap {
      margin-bottom: 1.25rem;
      display: table;
      width: 100%;
      min-height: 5.3125rem;
  }
  .photo {
      padding-top: 0.625rem;
      display: table-cell;
      width: 3.5rem;
  }
  .photo .avatar {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      background-size: contain;
      text-align: center;
  }
  .comment-block {
      padding: 1rem;
      background-color: #fff;
      display: table-cell;
      vertical-align: top;
      border-radius: 0.1875rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  }
  .comment-block textarea {
      width: 100%;
      max-width: 100%;
  }
  .comment-text {
      margin-bottom: 1.25rem;
      padding-left: 5px;
      line-height: 50px;
      font-size: 1.1em;
      //text-align: center;
      border: none;
      text-indent: 2em;
      word-break: break-all;
      font-style: italic;
      // 超过五行显示省略号
      // overflow: hidden;
      // text-overflow: ellipsis;
      // display: -webkit-box;
      // -webkit-line-clamp: 5;
      // -webkit-box-orient: vertical;
  }
  .bottom-comment {
      color: #acb4c2;
      font-size: 0.875rem;
  }
  .comment-date {
      float: left;
  }
  .comment-actions {
      float: right;
  }
  .comment-actions li {
      display: inline;
  }
  .comment-actions li.complain {
      padding-right: 0.625rem;
      border-right: 1px solid #e1e5eb;
  }
  .comment-actions li.reply {
      padding-left: 0.625rem;
  }
}
