<ion-header *ngFor="let arr of arr">
  <ion-navbar>
    <ion-row>
      <ion-col col-10>
        <i class="iconfont icon-left1" style="font-size:1.5em;position: absolute;left: 0.2em;color: black" (click)="return()"></i>
        <h5 class="title">
          {{ arr.title }}</h5>
      </ion-col>
      <ion-col col-2>
        <!-- 收藏、取消收藏 -->
        <ion-icon name="star-outline" (click)="isCollect(i)" id="star"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>



<ion-content *ngFor='let arr of arr; let i=index'>
  <div class="div">
    <img class="img" src="{{Img}}">
    <div padding>
      <h2>{{arr.title}}</h2>
      <b>作者/{{arr.author}}</b>
      <!-- <p class="essay">{{arr.content}}</p> -->
      <p class="essay">{{arr.content}}</p>
      <p class="date">{{arr.date}}</p>
    </div>
    <!-- 底部-->
    <ion-row>
      <ion-col class="left" >
        <div class="tx" (click)="goPersonal()">
          <img src="{{imgavatar}}">
        </div>
        <a class="username" (click)="goPersonal()">{{ arr.author }}</a>
        <button id="follow" (click)="show1(i)">关注</button>
        <!-- <button ion-button id="follow" (click)="show1()">关注</button> -->
      </ion-col>
     
    </ion-row>
  </div>
  <div>
    <div *ngFor='let commentList of commentList; let i=index' class="comments">
            <div class="comment-wrap">
                <div class="photo">
                    <div class="avatar" style="background-color:whitesmoke">{{commentList.commentUsername}}</div>
                </div>
                <div class="comment-block">
                    <blockquote class="comment-text">{{commentList.comment}}</blockquote>
                    <div class="bottom-comment">
                        <div class="comment-date">{{commentList.commentTime}}</div>
                        <ul class="comment-actions">
                            <li class="complain">Complain</li>
                            <li class="reply">Reply</li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <ul id="ul1">
      
    </ul>
    <textarea placeholder="有什么感想？快来评论吧" id='txt' ></textarea>
    <i class="iconfont icon-fabu" id="btn1" (click)="release(i)"></i>
  </div>
</ion-content>